:root {
     --border-radius: 5px;
     --margin-top: 0.2rem;
     --arrow-width: 70px;
     --column: column;
     --black: #111111;
}
*  {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     border: none;
     text-decoration: none;
     color: #fff;
}
main {
    height: 90vh;
    width: 90%;
    display: flex;
    flex-direction: var(--column);
    align-items: center;
    margin: 0.5rem auto;
    border-radius: var(--border-radius);;
    background:  var(--black);
}
header {
     border-bottom: 1px solid #ccc;
     width: 90%;
     text-indent: 2rem;
     padding: 0.5rem;
}
h1 {
      font-size: 16pt;
      font-weight: 500;
}
#image-matrix {
     display: grid;
     grid-template-columns: repeat(2, 8rem);
     grid-template-rows: repeat(2, 8rem);
     column-gap: .2rem;
     row-gap: .2rem;
     margin-top: 0.5rem;
}
.image {
     background-color: red;
     height: 8rem;
     width: 8rem;
     border: 3px solid #ccc;
     border-radius: var(--border-radius);
}
img {
     height: 7.6rem;
     width: 7.6rem;
     margin-left: 1px;
}
#content-below {
     margin-top: var(--margin-top);
     display: flex;
     flex-direction: var(--column);
     width: 16rem;
}
#content-below input, #content-below button {
     display: flex;
     flex-direction: var(--column);
     width: 16rem;
     border: 1px solid #fff;
     border-radius: 3px;
     border: 1px solid #ccc;
}
 button {
     margin-top: var(--margin-top);
     padding: 0.3rem;
     text-indent: 100px;
     color: var(--black)
}
/** ROWS */
#arrows {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-template-rows: repeat(3, 1fr);
     width: fit-content;
     margin: 1rem auto;
     font-size: 20pt;
     font-weight: bolder;   
}
#up-arrow {
    width: var(--arrow-width);
     grid-row: 1/2;
     grid-column: 2/3;
     text-align: center;
}
#down-arrow {
    width: var(--arrow-width);
    grid-row: 3/4;
    grid-column: 2/3;
    text-align: center;
}
#left-arrow {
    width: var(--arrow-width);
    grid-row: 2/3;
    grid-column: 1/2;
}
#right-arrow {
    width: var(--arrow-width);
    grid-row: 2/3;
    grid-column: 3/4;
   text-align: end;
   position: relative;
}
.arrow:hover {
    cursor: pointer;
}

/* Flip Image*/ 
.flipUp {
     transform: rotate(360deg);
}
.flipRight {
     transform: rotate(90deg);
}
.flipDown {
     transform: rotate(180deg);
}
.flipLeft {
     transform: rotate(270deg);
}
.hide {
      visibility: hidden;
}