:root {
     --border-radius: 5px;
     --margin-top: 0.2rem;
     --arrow-width: 70px;
}

*  {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     border: none;
     text-decoration: none;
}

main {
    height: 90vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem auto;
    border-radius: var(--border-radius);;
    /* background: #111111; */
}
#image-matrix {
     display: grid;
     grid-template-columns: repeat(2, 8rem);
     grid-template-rows: repeat(2, 8rem);
     column-gap: .1rem;
     row-gap: .1rem;
     margin-top: 1rem;
}
.image {
     background-color: red;
     height: 8rem;
     width: 8rem;
     border: 1px solid rgb(0, 0, 0);
     border-radius: var(--border-radius);
}
#content-below {
     margin-top: var(--margin-top);
     display: flex;
     flex-direction: column;
     width: 16rem;
}
#content-below input, #content-below button {
     display: flex;
     flex-direction: column;
     width: 16rem;
     border: 1px solid #fff;
     border-radius: 3px;
}
 button {
     margin-top: var(--margin-top);
     padding: 0.3rem;
     text-align: center;
}

/**
      ROWS 
*/
#arrows {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-template-rows: repeat(3, 1fr);
     width: fit-content;
     margin: 1rem auto;
     font-size: 20pt;
     font-weight: bolder;
     
}
#up-arrow {
    width: var(--arrow-width);
     grid-row: 1/2;
     grid-column: 2/3;
     text-align: center;
}
#down-arrow {
    width: var(--arrow-width);
    grid-row: 3/4;
    grid-column: 2/3;
    text-align: center;
}
#left-arrow {
    width: var(--arrow-width);
    grid-row: 2/3;
    grid-column: 1/2;

}
#right-arrow {
    width: var(--arrow-width);
    grid-row: 2/3;
    grid-column: 3/4;
   text-align: end;
}

.arrow:hover {
     color: red;
     cursor: pointer;
}